<%- @settings[:restricted_members_table] = {} if @settings[:restricted_members_table].nil? -%>

<% @roles = Role.sorted.all %>

<% if @roles.any? %>
<table class="list ">
  <thead><tr>
  <th><%=l(:label_role)%></th>
  <th><%=l(:label_permitted_roles)%></th>
  </tr></thead>
  <tbody>
<% @roles.each do |role_with_permission| %>
 <% if role_with_permission.has_permission? ( :manage_members ) %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td class="name"><%= role_with_permission.name %></td>
    <td class="name">
	<% @roles.each do |role| %>
	<% unless role.builtin? %>
		<%- @settings[:restricted_members_table][role_with_permission.id.to_s] = {} if @settings[:restricted_members_table][role_with_permission.id.to_s].nil? -%>
		<%= check_box_tag "settings[restricted_members_table][#{role_with_permission.id}][#{role.id}]", 1, @settings[:restricted_members_table][role_with_permission.id.to_s][role.id.to_s] %>
		<%= role.name %>
	</br>
		<% end %>
	<% end %>
    </td>
  </tr>
 <% end %>
<% end %>
  </tbody>
</table>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
